body
{
    background-color: #000000;
}

#div-container
{
    width: 941px;
    margin-left: auto;
    margin-right: auto;
}

#div-logo
{
    float: left;
}

#div-title
{
    float: left;
}

#div-navigation
{
    width: 941px;
    background-color: #ffb739;
    margin-top: 10px;
    height: 50px;
    border-radius: 10px;
}

#div-navigation a:not(.selected)
{
    color:Blue;
}

#div-navigation a:not(.selected):hover
{
    color:Red;
}

#div-content
{
    margin-top: 10px;
}

.div-barricades
{
    clear: both;
    width: 1px;
    height: 1px;
}

.image-logo
{
    width: 220px;
    height: 115px;
    border-top-left-radius: 10px;
}

.image-title
{
    width: 720px;
    height: 115px;
    border-top-right-radius: 10px;
}

.menu-static
{
    position: relative;
    top: 15px;
    background-color: #ffb739;
}

.menu-static li
{
    margin-right: 10px;
    font-size: 21px;
    text-align: center;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: Black;
    padding-right: 10px;
}

.menu-static li:first-child
{
    margin-left: 10px;
}

.selected
{
    color: White;
}

.page-div-container
{
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #DCE0D8;
}

.page-div-title
{
    border: 4px solid #1049A0;
    font-size: 31px;
    font-weight: bold;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    color: #1049A0;
    padding-left: 20px;
}

/*Login Page Styles*/

#login-div-control
{
    position: relative;
    float: left;
    border-radius: 15px;
    border: 4px solid #1049A0;
    margin-top: 30px;
    margin-left: 13px;
    margin-right: 50px;
    height: 400px;
    width: 425px;
}

#login-div-misc
{
    position: relative;
    float: left;
    border-radius: 15px;
    border: 4px solid #1049A0;
    margin-top: 30px;
    height: 400px;
    width: 425px;
}

#login-div-control-container
{
    position: relative;
    width: 365px;
    margin-left: auto;
    margin-right: auto;
    top: 60px;
}

#login-button-subbmit-holder
{
    position: relative;
    text-align: center;
    width: 120px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

#login-form-signup
{
    position: relative;
    text-align: center;
    font-size: 10px;
    margin-top: 10px;
}

.login-form-text
{
    position: relative;
    font-size: 21px;
    color: #1049A0;
    width: 90px;
    margin-right: 10px;
    margin-left: 40px;
    height: 25px;
    padding-top: 2px;
}

.login-form-div
{
    float: left;
    margin-top: 20px;
}

.login-button-subbmit
{
    color: #1049A0;
    border-radius: 5px;
    font-size: 18px;
    width: 100px;
}

.login-form-textbox
{
    border: 1px solid #1049A0;
    border-radius: 5px;
    width: 150px;
    height: 25px;
    font-size: 16px;
    color: #1049A0;
}

/*Register Page Style*/
#register-control-container
{
    border: 4px solid #1049A0;
    border-radius: 15px;
    position: relative;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

#register-signup-holder
{
    position: relative;
    border: 4px solid #1049A0;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    text-align:center;
    width:100px;
    margin-top: 80px;
}

#register-div-popup
{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:Black;
    opacity:0.7;
    z-index:9;
}

#register-div-popup-content
{
    position:fixed;
    background-color:White;
    border: 4px solid #1049A0;
    border-radius: 15px;
    width:350px;
    background-color: #DCE0D8;
    height:250px;
    z-index:11;
}

#register-div-popup-content > div#popup-header
{
    position: relative;
    color: #4141FE;
    font-weight: bolder;
    width:20px;
    font-size: large;
    text-align: center;
    margin-left:326px;
    font-family: Arial;
    margin-top: 3px;
    cursor:pointer;
    vertical-align: middle;
}

#register-div-popup-content > div#popup-header:hover
{
    color:Red;
}

#register-div-popup-content > div#popup-body
{
    color: #1049A0;
    font-size: 21px;
    text-align: center;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height:170px;
    border-radius: 5px;
    border: 4px solid #1049A0;
    margin-top: 20px;
}

#register-div-popup-content > div#popup-body > div
{
    position:relative;
    height:140px;
    margin-top:30px;
}

.register-div-groupbox
{
    position: relative;
    width: 420px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: left;
}

.register-fieldset
{
    border: 4px solid #1049A0;
    border-radius: 15px;
    color: #1049A0;
    font-size: 16px;
    font-weight: 500;
}

.register-table-form
{
    position:relative;
    color: #1049A0;
    font-size: 16px;
    vertical-align:middle;
    margin-left:auto;
    margin-right:auto;
}

.register-textbox
{
    border-radius: 5px;
    color: #1049A0;
}

/*  Admin Page  */
#admin-div-user-manage
{
    position: relative;
    float: left;
    border-radius: 15px;
    border: 4px solid #1049A0;
    margin-top: 30px;
    margin-left: 13px;
    margin-right: 50px;
    height: 400px;
    width: 425px;
    overflow:auto;
}

#admin-div-request-process
{
    position: relative;
    float: left;
    border-radius: 15px;
    border: 4px solid #1049A0;
    margin-top: 30px;
    height: 400px;
    width: 425px;
    overflow:auto;
}

#admin-div-search-criterias
{
    border: thin dashed #1049A0;
    border-radius: 15px;
}

.admin-user-manage-fieldset
{
    border: 4px solid #1049A0;
    border-radius: 15px;
    color: #1049A0;
    font-size: 16px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    width:353px;
    font-weight: 500;
}

.admin-div-usermannage
{
    border: thin solid #1049A0;
    margin-bottom:5px;
    padding-left:5px;
}

.admin-div-usermannage:hover
{
    background-color: #FCF78B;
}

.admin-div-usermannage > table
{
    width:100%;
}

.admin-div-usermannage  td.td-usermanage-controls
{
    text-align:right;
}

/*      Map Page        */
#map-div-imageholder
{
    position:relative;
    float:left;
    width:610px;
    height:670px;
    border: 4px solid #1049A0;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 13px;
    margin-right:20px;
}

#map-div-imageholder img
{
    position:relative;
    margin:5px 5px 5px 5px;
    width:600px;
    height:600px;
}

#map-div-controls
{
    position:relative;
    float:left;
    border: 4px solid #1049A0;
    border-radius: 15px;
    margin-top: 30px;
    width:270px;
}

#map-div-legend
{
    position:relative;
    float:left;
    border: 4px solid #1049A0;
    border-radius: 15px;
    margin-top: 30px;
    width:270px;
}



.map-fieldset-controls
{
    position:relative;
    width:200px;
    border: 2px solid #1049A0;
    margin:10px auto 10px auto; 
    color: #1049A0;
    font-size: 16px;
    font-weight: 500;
}

.map-fieldset-controls td.map-td-button
{
    position:relative;
    vertical-align:middle;
    text-align:center;
}

.map-legend-item-container
{
    position:relative;
    margin:10px auto 0px auto;
}

.map-legend-item-container div.colorbox
{
    width:25px;
    height:25px;
    float:left;
}

/*  Stat Page   */
.stat-div-chart
{
    position:relative;
    border: 2px solid #1049A0;
    padding:5px 5px 5px 5px;
    float:left;
    margin-left:15px;
    margin-top:10px;
}