USE [master]
GO
CREATE LOGIN [cdcas] WITH PASSWORD=N'123', DEFAULT_DATABASE=[master], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO


CREATE DATABASE [cdcas] ON  PRIMARY 
( NAME = N'cdcas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\cdcas.mdf' , SIZE = 2048KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'cdcas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\cdcas_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [cdcas]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [cdcas] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO


USE [master]
GO
ALTER LOGIN [cdcas] WITH DEFAULT_DATABASE=[cdcas], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO


USE [master]
GO
CREATE LOGIN [VisitorDB] WITH PASSWORD=N'123' MUST_CHANGE, DEFAULT_DATABASE=[cdcas], CHECK_EXPIRATION=ON, CHECK_POLICY=ON
GO

USE [cdcas]
GO
CREATE USER [VisitorDB] FOR LOGIN [VisitorDB] WITH DEFAULT_SCHEMA=[dbo]
GO

USE [master]
GO
ALTER LOGIN [VisitorDB] WITH DEFAULT_DATABASE=[cdcas], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO

USE [cdcas]
GO
EXEC sp_addrolemember N'db_datareader', N'VisitorDB'
GO