<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.webServer>
  <handlers>
   <remove name="ChartImageHandler" />
   <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
    path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </handlers>
 </system.webServer>
 <system.web>
		<pages>
   <controls>
    <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
     assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
   </controls>
  </pages>
  <compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
		<httpHandlers>
			<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
		</httpHandlers>
	</system.web>
	<appSettings>
		<add key="ChartImageHandler" value="storage=file;timeout=20;dir=C:\Users\Public\www\tempImages;" />
    <add key="PgConnectionString" value="Server=127.0.0.1;Port=5432;User Id=postgres;Password=123;Database=postgis;" />
    <add key="SqlConnectionString" value="Data Source=HADES;Initial Catalog=cdcas;User Id=cdcas;Password=123;" />
    <add key="MapServiceUrl" value="http://localhost:8080/MapService/MapService?HEIGHT=650&amp;WIDTH=600&amp;MAINMAP={0}&amp;LEVEL1=0xA7C951&amp;LEVEL2=0xF0D71D&amp;LEVEL3=0x661515"/>
    <add key="HtmlImageMapServiceUrl" value="http://localhost:8080/MapService/HtmlImageMapService?VIEW={0}&amp;HEIGHT=650&amp;WIDTH=600&amp;BASEMAP={1}&amp;MAPLEVEL={2}&amp;FILTERVALUE={3}"/>
    <add key="DrillDownMapUrl" value="http://localhost:8080/MapService/DrilldownImage?MAPCOLOR=0xA7C951&amp;HEIGHT=650&amp;WIDTH=600&amp;BASEMAP={0}&amp;MAPLEVEL={1}&amp;FILTERVALUE={2}"/>
	</appSettings>
</configuration>