body
{
    background-color: #000000;
}

#div-container
{
    width: 941px;
    margin-left: auto;
    margin-right: auto;
}

#div-logo
{
    float: left;
}

#div-title
{
    float: left;
}

#div-navigation
{
    width: 941px;
    background-color: #ffb739;
    margin-top: 10px;
    height: 50px;
    border-radius: 10px;
}

#div-content
{
    margin-top: 10px;
}

.div-barricades
{
    clear: left;
    width: 1px;
    height: 1px;
}

.image-logo
{
    width: 220px;
    height: 115px;
    border-top-left-radius: 10px;
}

.image-title
{
    width: 720px;
    height: 115px;
    border-top-right-radius: 10px;
}

.menu-static
{
    position: relative;
    top: 15px;
    background-color: #ffb739;
}

.menu-static li
{
    margin-right: 10px;
    font-size: 21px;
    text-align: center;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: Black;
    padding-right: 10px;
}

.menu-static li:first-child
{
    margin-left: 10px;
}

.menu-static li > a:hover:not(.selected)
{
    color: Red;
}

.selected
{
    color: White;
}

.page-div-container
{
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #DCE0D8;
}

.page-div-title
{
    border: 4px solid #1049A0;
    font-size: 31px;
    font-weight: bold;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    color: #1049A0;
    padding-left: 20px;
}

/*Login Page Styles*/

#login-div-control
{
    position: relative;
    float: left;
    border-radius: 15px;
    border: 4px solid #1049A0;
    margin-top: 30px;
    margin-left: 13px;
    margin-right: 50px;
    height: 400px;
    width: 425px;
}

#login-div-misc
{
    position: relative;
    float: left;
    border-radius: 15px;
    border: 4px solid #1049A0;
    margin-top: 30px;
    height: 400px;
    width: 425px;
}

#login-div-control-container
{
    position: relative;
    width: 365px;
    margin-left: auto;
    margin-right: auto;
    top: 60px;
}

#login-button-subbmit-holder
{
    position: relative;
    text-align: center;
    width: 120px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

#login-form-signup
{
    position: relative;
    text-align: center;
    font-size: 10px;
    margin-top: 10px;
}

.login-form-text
{
    position: relative;
    font-size: 21px;
    color: #1049A0;
    width: 90px;
    margin-right: 10px;
    margin-left: 40px;
    height: 25px;
    padding-top: 2px;
}

.login-form-div
{
    float: left;
    margin-top: 20px;
}

.login-button-subbmit
{
    color: #1049A0;
    border-radius: 5px;
    font-size: 18px;
    width: 100px;
}

.login-form-textbox
{
    border: 1px solid #1049A0;
    border-radius: 5px;
    width: 150px;
    height: 25px;
    font-size: 16px;
    color: #1049A0;
}

/*Register Page Style*/
#register-control-container
{
    border: 4px solid #1049A0;
    border-radius: 15px;
    position: relative;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

#register-signup-holder
{
    position: relative;
    border: 4px solid #1049A0;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    text-align:center;
    width:100px;
    margin-top: 80px;
}

.register-div-groupbox
{
    position: relative;
    width: 420px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: left;
}

.register-fieldset
{
    border: 4px solid #1049A0;
    border-radius: 15px;
    color: #1049A0;
    font-size: 16px;
    font-weight: 500;
}

.register-table-form
{
    position:relative;
    color: #1049A0;
    font-size: 16px;
    vertical-align:middle;
    margin-left:auto;
    margin-right:auto;
}

.register-textbox
{
    border-radius: 5px;
    color: #1049A0;
}

