body
{
    background-color: rgb(188,215,255);
}

#div-container
{
    width: 965px;
    margin-left: auto;
    margin-right: auto;
}

#div-logo
{
    float: left;
}

#div-title
{
    float: left;
}

#div-navigation
{
    width: 965px;
    background-color: #ffb739;
    margin-top: 20px;
    height:50px;
}

.div-barricades
{
    clear: both;
    width: 1px;
    height: 1px;
}

.image-logo
{
    width: 234px;
    height: 114px;
}

.image-title
{
    width: 730px;
    height: 114px;
}

.menu-static
{
    position:relative;
    top:15px;
    background-color: #ffb739;
}

.menu-static li
{
    margin-right: 10px;
    font-size: 21px;
    text-align: center;
    border-right-style:solid;
    border-right-width:2px;
    border-right-color:Black;
    padding-right:10px;
}

.menu-static li:hover
{
    text-decoration: underline;
    color: Blue;
}

.selected
{
    color: White;
}
