body
{
    background-color: #000000;
    font-size: medium;
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
    color: #FF99FF;
}

#div-container
{
    width: 965px;
    margin-left: auto;
    margin-right: auto;
}

#div-logo
{
    float: left;
}

#div-title
{
    float: left;
}

#div-navigation
{
    width: 940px;
    background-color: #ffb739;
    margin-top: 20px;
    height: 55px;
    font-weight: bold;
    font-style: normal;
    color: #000080;
}

.div-barricades
{
    clear: both;
    width: 1px;
    height: 1px;
}

.image-logo
{
    width: 220px;
    height: 115px;
}

.image-title
{
    width: 720px;
    height: 115px;
}

.menu-static
{
    position:relative;
    top:15px;
    background-color: #ffb739;
}

.menu-static li
{
    margin-right: 10px;
    font-size: 21px;
    text-align: center;
    border-right-style:solid;
    border-right-width:2px;
    border-right-color:Black;
    padding-right:10px;
}

.menu-static li:first-child
{
    margin-left:10px;
}

.menu-static li > a:hover:not(.selected)
{
    color: Red;
}

.selected
{
    color: White;
}


